{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'layout',
'layout--onecol-etna',
]
%}
{% if content %}
    <div id="fullpage" {{ attributes.addClass(classes) }}>
        <div {{ region_attributes.etna_home.addClass('layout__region', 'layout__region--home') }} data-anchor="home">
            {{ content.etna_home }}
        </div>
        <div {{ region_attributes.etna_news.addClass('layout__region', 'layout__region--news') }} data-anchor="news">
            {{ content.etna_news }}
        </div>
        <div {{ region_attributes.etna_about.addClass('layout__region', 'layout__region--about') }} data-anchor="about">
            {{ content.etna_about }}
        </div>
        <div {{ region_attributes.etna_label.addClass('layout__region', 'layout__region--label') }} data-anchor="label">
            {{ content.etna_label }}
        </div>
        <div {{ region_attributes.etna_event.addClass('layout__region', 'layout__region--event') }} data-anchor="event">
            {{ content.etna_event }}
        </div>
        <div {{ region_attributes.etna_contact.addClass('layout__region', 'layout__region--contact') }} data-anchor="contact">
            {{ content.etna_contact }}
        </div>
    </div>
{% endif %}
